body {
	font-family: 'Exo', sans-serif;
	margin: auto;
	padding-top: 10px;
	width: 100%;
}
h1 {
	color: #400;
	font-size: 20px;
	margin-top: 10px;
}
h2 {
	color: #000;
	font-size: 24;
}
h3 {
	color: #fff;
	font-size: 14;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin: 0px;
}
p {
	font-size: 15px;
	margin: 0px;
	text-align: justify;
}
p.description {
	height: 40px;
}
p.effort {
	display: none;
}
ul {
	list-style: none;
	padding: 0px;
}
ul li p {
	font-size: 12px;
}
#logo {
	background: url('../img/logo/logo_277x100.png') top center no-repeat;
	height: 100px;
	margin: auto;
	width: 300px;
}
#slogan {
	cursor: default;
	font-size: 15px;
	font-style: italic;
	height: 33px;
	margin-bottom: 10px;
	margin-top: 7px;
	text-align: left;
	width: 300px;
}
#values {
	color: #444;
	cursor: default;
	font-size: 13px;
	margin: auto;
	text-align: left;
	top: 350px;
	width: 300px;
}
#values ul {
	float: right;
	list-style: none;
	margin-top: -20px;
	position: relative;
	top: 0px;
}
#values ul li {
	background-color: #fff;
	float: none;
	text-align: right;
}
#values ul li a {
	color: #444;
	text-decoration: none;
}
#values ul li a:hover {
	color: black;
	text-decoration: underline;
}
#values ul li:hover {
	color: #000;
	cursor: pointer;
}
#values ul li img {
	border: 1px solid #000;
	margin-left: 10px;
	width: 13px;
}
#portfolio {
	background-color: #bbb;
	float: left;
	position: relative;
	width: 100%;
}
#portfolio ul a {
	text-decoration: none;
}
#portfolio ul li {
	background-color: #999;
	border: 1px solid #999;
	float: left;
	height: 250px;
	margin: 5px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	width: 250px;
}
#portfolio ul li:hover {
	border: 1px solid #600;
	opacity: 0.7;
		-moz-opacity: 0.7;
		-o-opacity: 0.7;
		-webkit-opacity: 0.7;
}
#portfolio ul li h3 {
	color: #600;
}
#portfolio ul li img {
	border: 1px solid #bbb;
	height: 150px;
	margin: 15px 0px 11px 0px;
	width: 200px;
}
#portfolio ul li p {
	color: #fff;
}
#collaborators {
	background-color: #bbb;
	float: left;
	height: 250px;
	width: 100%;
}
#collaborators ul li {
	float: left;
}
#collaborators img {
	height: 100px;
	margin-right: 30px;
}
#collaborators img:hover {
	opacity: 0.7;
		-moz-opacity: 0.7;
		-o-opacity: 0.7;
		-webkit-opacity: 0.7;
}
#contributing {
	background-color: #bbb;
	float: left;
	height: 250px;
	width: 100%;
}
#contributing ul li {
	float: left;
}
#contributing img {
	height: 100px;
	margin-right: 30px;
}
#contributing img:hover {
	opacity: 0.7;
		-moz-opacity: 0.7;
		-o-opacity: 0.7;
		-webkit-opacity: 0.7;
}
#contact {
	background-color: #000;
	color: #fff;
	float: left;
	font-size: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	width: 100%;
}
#contact .mail a {
	color: #a00;
	text-decoration: none;
}
#contact .mail a:hover {
	text-decoration: underline;
}
#contact .phone {
	font-weight: bold;
}
#contact .address {
	font-size: 24px;
	margin-top: 15px;
}
#contact .address a {
	color: #fff;
	font-size: 24px;
	margin-top: 15px;
	text-decoration: none;
}
#contact .address a:hover {
	text-decoration: underline;
}
#contact .logo-twitter {
	position: absolute;
	right: 10px;
	top: 0px;
}
#contact .logo-slow {
	position: absolute;
	right: 10px;
	top: 65px;
}
#contact .logo-slow img {
	width: 64px;
	height: 64px;
}
#contact .logo-humanstxt {
	position: absolute;
	right: 10px;
	top: 125px;
}
.centered {
	margin: auto;
	position: relative;
	width: 300px;
}